.game-container {
    width: 500px;
    height: 550px;
    /* this positions it based on parent container's position*/
    position: absolute;
    padding: 0px;
}

.sky {
    background-color: lightblue;
    width: 500px;
    height: 550px;
    position: absolute;
}

.ground {
    background-color: rgb(173, 151, 104);
    width: 500px;
    height: 100px;
    position: absolute;
    top: 460px;
}

.bird {
    background-color: yellow;
    width: 50px;
    height: 45px;
    position: absolute;
}

.obstacle {
    background-color: green;
    width: 60px;
    height: 300px;
    position: absolute;
}