 h1 {
    font-size: 30px;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
}

#mapid { height: 400px; }

.columns {
    padding: 30px;
}

input, label {
    display:block;
}

.flex-outer {
    padding: 5px;
}

.flex-outer input{
    width: 100%;
}

.search{
    border: 1px solid rgb(121, 117, 117);
    border-radius: 5px;
    height: 30px;
}

.column {
    width: 50%;
  }

button {
    margin-top: 7px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

ul {
    margin-top: 20px;
}

li {
    height: 100%;
    width: 100%;
    margin: 40px;
    padding:10px 12px;
    justify-content: space-between;
    background-color: #BBCEA8; 
    margin: -4px; 
    margin-bottom: 30px; 
    border: 2px cornflowerblue;
    border-radius: 3px;
}

.name {
    font-weight: bold;
    font-size: 20px;
}
.address,.location,.zip {
    font-style: italic;
}
span {
    display: block;
}