 h1 {
    font-size: 30px;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
}

#mapid { height: 400px; }


input, label {
    display:block;
}

ul {
    margin-top: 20px;
}

li {
    height: 100%;
    width: 100%;
    margin: 40px;
    padding:10px 12px;
    justify-content: space-between;
    background-color: #BBCEA8; 
    margin: -4px; 
    margin-bottom: 30px; 
    border: 2px cornflowerblue;
    border-radius: 3px;
}

.name {
    font-weight: bold;
    font-size: 20px;
}
.address,.location,.zip {
    font-style: italic;
}
span {
    display: block;
}